/* upload_pdf.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f7f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 18px;
    color: #001a2c;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: color 0.3s;
}

.navbar a:hover, .navbar a.active {
    color: #195c89;
}
.signin a {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.signin a:hover {
    background-color: #0056b3;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 150px auto; /* Adjusted margin for header space */
    text-align: center;
}

.form-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-form input[type="file"],
.upload-form input[type="text"],
.upload-form textarea,
.upload-form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background: #f4f7f6;
    transition: border 0.3s ease;
}

.upload-form input[type="file"]:focus,
.upload-form input[type="text"]:focus,
.upload-form textarea:focus,
.upload-form select:focus {
    border: 1px solid #007bff;
}

.upload-button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.upload-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.upload-button:active {
    background-color: #004494;
    transform: scale(1);
}

.upload-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}

.pdf-link {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pdf-link:hover {
    background-color: #218838;
}

.pdf-link:active {
    background-color: #1e7e34;
}

.pdf-link:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.5);
}
